body {
  background-color: #f8f8f8;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100%;
}

.inner {
  width: 1400px;
  min-width: 1400px;
  margin: 0 auto;
}

.type {
  font-kerning: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}

body::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 12px 12px 12px 12px;
  border: 3px solid #f8f8f8;
}

a {
  text-decoration: none;
}