//subTop Image
@keyframes animationSubTop {
  0% {
    width: 100vw;
    height: 100vh;
    min-height: max-content;
  }
  100% {
    width: 70vw;
    height: 85vh;
  }
}

.subTop {
  position: relative;
  .mainPic {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    width: 100vw;
    height: 100vh;
    min-height: max-content;
    right: -12px;
  }
  .mainPic.render {
    width: 70vw;
    height: 85vh;
    position: absolute;
    animation: animationSubTop 1s ease;
    // animation-delay: 100ms;
    animation-fill-mode: both;
    z-index: 100;
    right: 0px;
  }
}

//SubTop Logo
@keyframes animationSubLogo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subLogo {
  opacity: 1;
  &.render {
    opacity: 0;
    animation-fill-mode: backwards;
    animation: animationSubLogo 600ms 800ms ease-out;
  }
}
//atag 호버 애니메이션
//goIcon
@keyframes goIconArrow1 {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(50px);
  }
}

@keyframes goIconArrow2 {
  0% {
    transform: translate(-50px);
  }

  100% {
    transform: translate(0);
  }
}

.linkPage {
  .arrow2 {
    transform: translate(-50px);
  }

  &:hover {
    .arrow1 {
      animation: goIconArrow1 1.2s ease infinite;
    }

    .arrow2 {
      animation: goIconArrow2 1.2s ease infinite;
    }
  }
}

.prev {
  .arrow2 {
    transform: translate(-50px);
  }

  &:hover {
    .arrow1 {
      animation: goIconArrow1 1.2s ease infinite;
    }

    .arrow2 {
      animation: goIconArrow2 1.2s ease infinite;
    }
  }
}
.next {
  .arrow2 {
    transform: translate(-50px);
  }

  &:hover {
    .arrow1 {
      animation: goIconArrow1 1.2s ease infinite;
    }

    .arrow2 {
      animation: goIconArrow2 1.2s ease infinite;
    }
  }
}
