//line mount animation
@keyframes drawLineAnimation {
    0% {
        stroke-dashoffset: 500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.homeLine {
    stroke-dasharray: 500;
    animation: drawLineAnimation 1.8s cubic-bezier(.73, .18, .84, .58);
}

