//Up animation
@keyframes upAnimation1 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes upAnimation2 {
  0% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

.up {
  svg {
    .upPath2 {
      transform: translateY(50px);
    }
  }

  &:hover {
    svg {
      .upPath1 {
        animation: upAnimation1 1.5s ease infinite;
      }

      .upPath2 {
        animation: upAnimation2 1.5s ease infinite;
      }
    }
  }
}

//questionMark animation
@keyframes questionMarkAnimation {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.questionMark {
  &:hover {
    svg {
      .questionMarkPath {
        transform-origin: 50% 50%;
        animation: questionMarkAnimation 1.5s ease infinite;
      }
    }
  }
}

//menu animation
@keyframes menuOpacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes menuMoveAnimation1 {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(50px);
  }
}
@keyframes menuMoveAnimation2 {
  0% {
    transform: translate(-50px);
  }
  100% {
    transform: translate(0px);
  }
}

.menu {
  animation: menuOpacityAnimation 1s ease;

  &:hover {
    svg {
      .menuPath1 {
        animation: menuMoveAnimation1 1s ease;
      }
      .menuPath2 {
        animation: menuMoveAnimation1 1s 0.1s ease;
      }
      .menuPath3 {
        animation: menuMoveAnimation1 1s 0.2s ease;
      }
      .menuPath4 {
        animation: menuMoveAnimation2 1s ease;
      }
      .menuPath5 {
        animation: menuMoveAnimation2 1s 0.1s ease;
      }
      .menuPath6 {
        animation: menuMoveAnimation2 1s 0.2s ease;
      }
    }
  }
}

//github Icon
@keyframes githubCatAnimation {
  0% {
    transform: translate(-0.5px, 4px);
  }
  20% {
    transform: translate(-0.5px, 4px);
  }
  50% {
    transform: translate(-0.5px, 2px);
  }
  70% {
    transform: translate(-0.5px, 30px);
  }
  100% {
    transform: translate(-0.5px, 4px);
  }
}

.github {
  &:hover {
    .githubCat {
      animation: githubCatAnimation 2s ease infinite;
    }
  }
}

//mailIcon
@keyframes mailPaperPathAnimation {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.mail {
  &:hover {
    .mailPath1 {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: mailPaperPathAnimation 2.5s ease infinite;
    }
    .mailPath2 {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: mailPaperPathAnimation 2.5s ease infinite;
    }
  }
}

//logoIcon
@keyframes logoStarAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logo {
  &:hover {
    .logoStar {
      animation: logoStarAnimation 2s ease infinite;
      transform-origin: 51% 51%;
    }
  }
}

//callIcon
@keyframes callAnimationThird {
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
@keyframes callAnimationSecond {
  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes callAnimationFirst {
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
.call-Icon {
  &:hover {
    .call-path__third {
      animation: callAnimationThird 2s linear infinite;
      animation-timing-function: step-start;
    }
    .call-path__second {
      animation: callAnimationSecond 2s linear infinite;
      animation-timing-function: step-start;
    }
    .call-path__first {
      animation: callAnimationFirst 2s linear infinite;
      animation-timing-function: step-start;
    }
  }
}

.image-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.8rem;
  &.image--loading {
    animation: loader 2s linear infinite;
  }
}

@keyframes loader {
  0% {
    background-color: #eeeeee;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #eeeeee;
  }
}

//blog Icon
@keyframes blogPenAnimation {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes blogLineAnimation {
  0% {
    stroke-dashoffset: 15;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.blog {
  &:hover {
    .pen {
      animation: blogPenAnimation 2s ease infinite;
    }
    .line {
      stroke-dasharray: 15;
      stroke-dashoffset: 15;
      animation: blogLineAnimation 2s ease infinite;
    }
  }
}
